<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!-- 选最近的父元素的font-size来计算 -->
    <!-- 根据父元素body的font-size -->
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            font-size: 16px
        }

        #demo {
            /* 32px */
            height: 2em;
            /* 80px */
            width: 5em;
        }
    </style>
    
    <div id="demo">
        em布局
    </div>
    <!-- 低于12px就没有计算变化了 -->
    <!-- 根据自身div的font-size -->
    <style>
        #demo2 {
            font-size: 18px;
            /* 18*2 = 36px */
            height: 2em;
            /* 5*18 = 90px */
            width: 5em;
        }
    </style>
    <div id="demo2">
        em布局
    </div>
</body>

</html>