<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <style>
        /* 320*568px */
        /* 
        width
        320/100vw
        1vw = 3.2px
        height
        568/100vw
        1vw = 5.68px 
        */
        * {
            margin: 0;
            padding: 0;
        }

        #demo {
            /* 3.2*50=160 */
            width: 50vw;
            /* 5.68*50=284 */
            height: 50vh;
            /* 3.2*20=64 */
            font-size: 20vw;
        }
    </style>
    <div id="demo">
        vw and vh
    </div>
</body>

</html>